body {background-color: #C4C6CF;
	  font-family: 'Overpass', sans-serif;
	  cursor: pointer;
}


h1 {
	    font-size: 1.7em;
	        color: #FC1818;

}

h2 {    font-size: 1.2em;
	    color: #1845FC;

}

#idEdit{
background-color:#FC1818;
color: blue;
border-radius: 15px;
  }

#idBorrar{
background-color:#1845FC;
border-radius: 15px;
}

#idEdit:link {
text-decoration: underline;
color: blue;
}
#idEdit:visited{
text-decoration: underline;
color: purple;
}
#idEdit:hover {
text-decoration: none;
font-weight: green;
}
#idEdit:active {
background-color: yellow;
}


#new-task {
border-radius: 20px;
background-color:#6BD5F1;
width: 200px;
margin-left:25px;
margin-right:25px;
height: 40px;
}

